# CONSTRUCCIÓN DE CARTERA FINANCIERA

### Librerías

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de Base de Datos

In [2]:
data_route = '../data/'

In [3]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [4]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [5]:
expenses

Empty DataFrame
Columns: [DATE, AMOUNT, CATEGORY, THIRD-PARTY, DESCRIPTION]
Index: []