# CONSTRUCCIÓN DE CARTERA FINANCIERA

### Librerías

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Lectura de Base de Datos

In [2]:
data_route = '../data/'

In [3]:
expenses_filename = 'expenses.csv'
incomes_filename = 'incomes.csv'

In [14]:
expenses = pd.read_csv(data_route+expenses_filename)
incomes = pd.read_csv(data_route+incomes_filename)

In [16]:
incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY                    DESCRIPTION
0  29-09-2022     500  VARIABLE   zero2hero  Inscripción a curso de Python

In [12]:
expenses.columns

Index(['DATE', 'AMOUNT', 'CATEGORY', 'THIRD-PARTY', 'DESCRIPTION'], dtype='object')

In [18]:
incomes['AMOUNT']

0    500
Name: AMOUNT, dtype: int64

In [29]:
incomes['AMOUNT'].sum()

1100

In [21]:
incomes.loc[0]['DESCRIPTION']

'Inscripción a curso de Python'

In [26]:
n = len(incomes)
print(n)

2

In [27]:
incomes.loc[n] = ['29-09-2022',300,'VARIABLE','zero2hero','Curso Intensivo R']

In [28]:
incomes

         DATE  AMOUNT  CATEGORY THIRD-PARTY                    DESCRIPTION
0  29-09-2022     500  VARIABLE   zero2hero  Inscripción a curso de Python
1  29-09-2022     300  VARIABLE   zero2hero              Curso Intensivo R
2  29-09-2022     300  VARIABLE   zero2hero              Curso Intensivo R

### Construcción de la Clase

In [77]:
class FWallet:
    
    def __init__(self,inputs):
        self.inputs = inputs
        self.incomes = pd.read_csv(self.inputs['data_route']+self.inputs['incomes_filename'])
        self.expenses = pd.read_csv(self.inputs['data_route']+self.inputs['expenses_filename'])
    
    ### ACTIONS TO PERFORM ###
    
    #Add income to database
    def add_income(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third party: ')
        description = input('description: ')
        
        new_income = [date,amount,category,third_party,description]
        
        n = len(self.incomes)
        self.incomes.loc[n] = new_income
        
        self.incomes.to_csv(self.inputs['data_route']+self.inputs['incomes_filename'],index=False)
        
    #Add expense to database
    def add_expense(self):
        date = input('date: ')
        amount = input('amount: ')
        category = input('category: ')
        third_party = input('third party: ')
        description = input('description: ')
        
        new_expense = [date,amount,category,third_party,description]
        
        n = len(self.expenses)
        self.expenses.loc[n] = new_expense
        
        self.expenses.to_csv(self.inputs['data_route']+self.inputs['expenses_filename'],index=False)
        
    #Calculate the total income
    def total_income(self):
        total = self.incomes['AMOUNT'].sum()
        return total
    
    #calculate total expense
    def total_expense(self):
        total = self.expenses['AMOUNT'].sum()
        return total
    
    #calculate balance = income - expense
    def balance(self):
        balance = self.total_income() - self.total_expense()
        return balance
    
    #create financial report using the functions above
    def financial_report(self):
        
        print('\n'+'Financial Report'+'\n')
        print(f'Total Income: ${self.total_income()}')
        print(f'Total Expense: ${self.total_expense()}')
        print(f'Balance: ${self.balance()}')
        
        if self.balance() > 0:
            print('Dont forget to save some of your left-off money! great job!')
        else:
            print('Be responsible with your finance, and find a low rate loan!')

In [78]:
inputs = {
    'data_route' : '../data/',
    'expenses_filename' : 'expenses.csv',
    'incomes_filename' : 'incomes.csv'
}

In [79]:
cartera = FWallet(inputs)

In [80]:
cartera.financial_report()

Financial Report

Total Income: $1000
Total Expense: $200
Balance: $800
Dont forget to save some of your left-off money! great job!

In [59]:
cartera.expenses

         DATE AMOUNT  CATEGORY THIRD-PARTY DESCRIPTION
0  29-09-2022    200  VARIABLE        oxxo      chelas